services:
  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    image: microcapsules-backend
    volumes:
      - ./back-end/logs:/app/logs
    environment:
      TOPICS_API_URL: "${TOPICS_API_URL}"
      MICROCAPS_API_URL: "${MICROCAPS_API_URL}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_PREFIX: "${DB_PREFIX}"
    ports:
      - "127.0.0.1:18080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"  
    restart: unless-stopped
  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    image: microcapsulas_frontend:latest
    ports:
      - "127.0.0.1:13000:3000" 
    environment:
      MICROCAPS_SECRET: "${MICROCAPS_SECRET}"
      BACKEND_URL: "${BACKEND_URL}"
      NODE_ENV: "${NODE_ENV}"
    depends_on:
      - backend
    restart: unless-stopped
