node_modules
.next
.next/cache
out
dist
build

.git
.gitignore

.env
.env.*.local
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
tmp

.DS_Store
.vscode
.idea

.nextjs-app-backup
.backup
backup
*.pem
