services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: microcapsulas_frontend:latest
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
