services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: microcapsulas_frontend:latest
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_MICROCAPS_SECRET: "CHANGE_THIS_SECRET_32_CHARACTERS"
      NODE_ENV: "production"
    restart: unless-stopped
